body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:928px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u848 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u849_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u849 {
  position:absolute;
  left:166px;
  top:51px;
  width:64px;
  height:64px;
}
#u850 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:16px;
}
#u851 {
  position:absolute;
  left:167px;
  top:122px;
  width:63px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u852 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u853 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u854 {
  position:absolute;
  left:166px;
  top:163px;
  width:64px;
  height:64px;
}
#u855 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:16px;
}
#u856 {
  position:absolute;
  left:167px;
  top:234px;
  width:63px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u857 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u858 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u859 {
  position:absolute;
  left:166px;
  top:274px;
  width:64px;
  height:64px;
}
#u860 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:16px;
}
#u861 {
  position:absolute;
  left:167px;
  top:345px;
  width:63px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u862 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u863 {
  position:absolute;
  left:396px;
  top:163px;
  width:64px;
  height:64px;
}
#u864 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
}
#u865 {
  position:absolute;
  left:396px;
  top:237px;
  width:68px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u866 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
}
#u867 {
  position:absolute;
  left:395px;
  top:137px;
  width:68px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u868 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u869 {
  position:absolute;
  left:574px;
  top:163px;
  width:64px;
  height:64px;
}
#u870 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
}
#u871 {
  position:absolute;
  left:571px;
  top:137px;
  width:68px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u872 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
}
#u873 {
  position:absolute;
  left:572px;
  top:237px;
  width:68px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u874 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u875_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:157px;
  height:22px;
}
#u875p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:148px;
  height:2px;
}
#u875p000_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:159px;
  height:22px;
}
#u875p001 {
  position:absolute;
  left:-1px;
  top:0px;
  width:2px;
  height:2px;
}
#u875p001_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:13px;
  height:22px;
}
#u875p002 {
  position:absolute;
  left:130px;
  top:-10px;
  width:22px;
  height:22px;
}
#u875p002_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:33px;
  height:42px;
}
#u875.compound {
  width:0px;
  height:0px;
}
#u875 {
  position:absolute;
  left:240px;
  top:194px;
  width:146px;
  height:2px;
}
#u876 {
  position:absolute;
  left:2px;
  top:-7px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u877_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:115px;
  height:5px;
}
#u877 {
  position:absolute;
  left:240px;
  top:306px;
  width:112px;
  height:2px;
}
#u878 {
  position:absolute;
  left:2px;
  top:-7px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u879_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:115px;
  height:5px;
}
#u879 {
  position:absolute;
  left:240px;
  top:82px;
  width:112px;
  height:2px;
}
#u880 {
  position:absolute;
  left:2px;
  top:-7px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u881_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:227px;
}
#u881 {
  position:absolute;
  left:350px;
  top:82px;
  width:2px;
  height:224px;
}
#u882 {
  position:absolute;
  left:2px;
  top:104px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u883_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:113px;
  height:22px;
}
#u883p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:104px;
  height:2px;
}
#u883p000_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:115px;
  height:22px;
}
#u883p001 {
  position:absolute;
  left:-1px;
  top:0px;
  width:2px;
  height:2px;
}
#u883p001_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:13px;
  height:22px;
}
#u883p002 {
  position:absolute;
  left:86px;
  top:-10px;
  width:22px;
  height:22px;
}
#u883p002_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:33px;
  height:42px;
}
#u883.compound {
  width:0px;
  height:0px;
}
#u883 {
  position:absolute;
  left:466px;
  top:194px;
  width:102px;
  height:2px;
}
#u884 {
  position:absolute;
  left:2px;
  top:-7px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u885_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:55px;
  height:22px;
}
#u885p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:46px;
  height:2px;
}
#u885p000_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:57px;
  height:22px;
}
#u885p001 {
  position:absolute;
  left:-1px;
  top:0px;
  width:2px;
  height:2px;
}
#u885p001_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:13px;
  height:22px;
}
#u885p002 {
  position:absolute;
  left:28px;
  top:-10px;
  width:22px;
  height:22px;
}
#u885p002_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:33px;
  height:42px;
}
#u885.compound {
  width:0px;
  height:0px;
}
#u885 {
  position:absolute;
  left:668px;
  top:148px;
  width:44px;
  height:2px;
}
#u886 {
  position:absolute;
  left:2px;
  top:-7px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
}
#u887 {
  position:absolute;
  left:700px;
  top:140px;
  width:68px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u888 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
}
#u889 {
  position:absolute;
  left:699px;
  top:239px;
  width:68px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u890 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
}
#u891 {
  position:absolute;
  left:817px;
  top:124px;
  width:61px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u892 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:16px;
}
#u893 {
  position:absolute;
  left:817px;
  top:98px;
  width:72px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u894 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
}
#u895 {
  position:absolute;
  left:817px;
  top:150px;
  width:61px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u896 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
}
#u897 {
  position:absolute;
  left:817px;
  top:176px;
  width:61px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u898 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u899_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:30px;
  height:5px;
}
#u899 {
  position:absolute;
  left:782px;
  top:105px;
  width:27px;
  height:2px;
}
#u900 {
  position:absolute;
  left:2px;
  top:-7px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u901_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:30px;
  height:5px;
}
#u901 {
  position:absolute;
  left:782px;
  top:131px;
  width:27px;
  height:2px;
}
#u902 {
  position:absolute;
  left:2px;
  top:-7px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u903_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:30px;
  height:5px;
}
#u903 {
  position:absolute;
  left:782px;
  top:157px;
  width:27px;
  height:2px;
}
#u904 {
  position:absolute;
  left:2px;
  top:-7px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u905_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:30px;
  height:5px;
}
#u905 {
  position:absolute;
  left:777px;
  top:222px;
  width:27px;
  height:2px;
}
#u906 {
  position:absolute;
  left:2px;
  top:-7px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u907_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:55px;
  height:22px;
}
#u907p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:46px;
  height:2px;
}
#u907p000_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:57px;
  height:22px;
}
#u907p001 {
  position:absolute;
  left:-1px;
  top:0px;
  width:2px;
  height:2px;
}
#u907p001_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:13px;
  height:22px;
}
#u907p002 {
  position:absolute;
  left:28px;
  top:-10px;
  width:22px;
  height:22px;
}
#u907p002_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:33px;
  height:42px;
}
#u907.compound {
  width:0px;
  height:0px;
}
#u907 {
  position:absolute;
  left:668px;
  top:244px;
  width:44px;
  height:2px;
}
#u908 {
  position:absolute;
  left:2px;
  top:-7px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u909_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:99px;
}
#u909 {
  position:absolute;
  left:668px;
  top:148px;
  width:2px;
  height:96px;
}
#u910 {
  position:absolute;
  left:2px;
  top:40px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u911_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:39px;
  height:5px;
}
#u911 {
  position:absolute;
  left:632px;
  top:195px;
  width:36px;
  height:2px;
}
#u912 {
  position:absolute;
  left:2px;
  top:-7px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u913_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:83px;
}
#u913 {
  position:absolute;
  left:780px;
  top:105px;
  width:2px;
  height:80px;
}
#u914 {
  position:absolute;
  left:2px;
  top:32px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u915_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:29px;
  height:5px;
}
#u915 {
  position:absolute;
  left:751px;
  top:148px;
  width:26px;
  height:2px;
}
#u916 {
  position:absolute;
  left:2px;
  top:-7px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
}
#u917 {
  position:absolute;
  left:819px;
  top:215px;
  width:61px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u918 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:16px;
}
#u919 {
  position:absolute;
  left:820px;
  top:269px;
  width:108px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u920 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u921_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:29px;
  height:5px;
}
#u921 {
  position:absolute;
  left:751px;
  top:246px;
  width:26px;
  height:2px;
}
#u922 {
  position:absolute;
  left:2px;
  top:-7px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u923_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:57px;
}
#u923 {
  position:absolute;
  left:777px;
  top:224px;
  width:2px;
  height:54px;
}
#u924 {
  position:absolute;
  left:2px;
  top:19px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u925_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:30px;
  height:5px;
}
#u925 {
  position:absolute;
  left:779px;
  top:277px;
  width:27px;
  height:2px;
}
#u926 {
  position:absolute;
  left:2px;
  top:-7px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u927_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:30px;
  height:5px;
}
#u927 {
  position:absolute;
  left:780px;
  top:185px;
  width:27px;
  height:2px;
}
#u928 {
  position:absolute;
  left:2px;
  top:-7px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
}
#u929 {
  position:absolute;
  left:243px;
  top:173px;
  width:98px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u930 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
}
#u931 {
  position:absolute;
  left:468px;
  top:174px;
  width:98px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u932 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u933 {
  position:absolute;
  left:175px;
  top:424px;
  width:38px;
  height:38px;
}
#u934 {
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u935 {
  position:absolute;
  left:749px;
  top:221px;
  width:28px;
  height:28px;
}
#u936 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u937 {
  position:absolute;
  left:750px;
  top:121px;
  width:28px;
  height:28px;
}
#u938 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u939 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u940 {
  position:absolute;
  left:284px;
  top:583px;
  width:64px;
  height:64px;
}
#u941 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:16px;
}
#u942 {
  position:absolute;
  left:283px;
  top:654px;
  width:63px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u943 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u944 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u945 {
  position:absolute;
  left:439px;
  top:404px;
  width:64px;
  height:64px;
}
#u946 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
}
#u947 {
  position:absolute;
  left:435px;
  top:468px;
  width:68px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u948 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u949 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u950 {
  position:absolute;
  left:588px;
  top:581px;
  width:64px;
  height:64px;
}
#u951 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:32px;
}
#u952 {
  position:absolute;
  left:551px;
  top:638px;
  width:139px;
  height:32px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u953 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  word-wrap:break-word;
}
#u954_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:230px;
  height:22px;
}
#u954p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:221px;
  height:2px;
}
#u954p000_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:232px;
  height:22px;
}
#u954p001 {
  position:absolute;
  left:-1px;
  top:0px;
  width:2px;
  height:2px;
}
#u954p001_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:13px;
  height:22px;
}
#u954p002 {
  position:absolute;
  left:203px;
  top:-10px;
  width:22px;
  height:22px;
}
#u954p002_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:33px;
  height:42px;
}
#u954.compound {
  width:0px;
  height:0px;
}
#u954 {
  position:absolute;
  left:217px;
  top:443px;
  width:219px;
  height:2px;
}
#u955 {
  position:absolute;
  left:2px;
  top:-7px;
  width:215px;
  visibility:hidden;
  word-wrap:break-word;
}
#u956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:16px;
}
#u956 {
  position:absolute;
  left:219px;
  top:423px;
  width:195px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u957 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  word-wrap:break-word;
}
#u958_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:157px;
  height:22px;
}
#u958p000 {
  position:absolute;
  left:-2px;
  top:0px;
  width:149px;
  height:2px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u958p000_img {
  position:absolute;
  left:-9px;
  top:-13px;
  width:160px;
  height:22px;
}
#u958p001 {
  position:absolute;
  left:123px;
  top:-52px;
  width:3px;
  height:3px;
}
#u958p001_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:14px;
  height:23px;
}
#u958p002 {
  position:absolute;
  left:13px;
  top:38px;
  width:22px;
  height:22px;
}
#u958p002_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:33px;
  height:42px;
}
#u958.compound {
  width:0px;
  height:0px;
}
#u958 {
  position:absolute;
  left:317px;
  top:526px;
  width:146px;
  height:2px;
}
#u959 {
  position:absolute;
  left:2px;
  top:-7px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:45px;
}
#u960 {
  position:absolute;
  left:300px;
  top:497px;
  width:158px;
  height:45px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u961 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  word-wrap:break-word;
}
#u962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
}
#u962 {
  position:absolute;
  left:423px;
  top:595px;
  width:98px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u963 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u964_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:157px;
  height:22px;
}
#u964p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:148px;
  height:2px;
}
#u964p000_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:159px;
  height:22px;
}
#u964p001 {
  position:absolute;
  left:-1px;
  top:0px;
  width:2px;
  height:2px;
}
#u964p001_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:13px;
  height:22px;
}
#u964p002 {
  position:absolute;
  left:130px;
  top:-10px;
  width:22px;
  height:22px;
}
#u964p002_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:33px;
  height:42px;
}
#u964.compound {
  width:0px;
  height:0px;
}
#u964 {
  position:absolute;
  left:401px;
  top:614px;
  width:146px;
  height:2px;
}
#u965 {
  position:absolute;
  left:2px;
  top:-7px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u966_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:157px;
  height:22px;
}
#u966p000 {
  position:absolute;
  left:-2px;
  top:-1px;
  width:149px;
  height:4px;
  -webkit-transform:rotate(-135deg);
  -moz-transform:rotate(-135deg);
  -ms-transform:rotate(-135deg);
  transform:rotate(-135deg);
}
#u966p000_img {
  position:absolute;
  left:-9px;
  top:-7px;
  width:160px;
  height:24px;
}
#u966p001 {
  position:absolute;
  left:123px;
  top:51px;
  width:3px;
  height:3px;
}
#u966p001_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:14px;
  height:23px;
}
#u966p002 {
  position:absolute;
  left:13px;
  top:-59px;
  width:22px;
  height:22px;
}
#u966p002_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:33px;
  height:42px;
}
#u966.compound {
  width:0px;
  height:0px;
}
#u966 {
  position:absolute;
  left:475px;
  top:529px;
  width:146px;
  height:2px;
}
#u967 {
  position:absolute;
  left:2px;
  top:-7px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:18px;
}
#u968 {
  position:absolute;
  left:484px;
  top:514px;
  width:158px;
  height:18px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u969 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  word-wrap:break-word;
}
