body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:452px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u759 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u760_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:661px;
}
#u760 {
  position:absolute;
  left:112px;
  top:28px;
  width:340px;
  height:661px;
}
#u761 {
  position:absolute;
  left:2px;
  top:322px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u762_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:481px;
}
#u762 {
  position:absolute;
  left:136px;
  top:132px;
  width:293px;
  height:481px;
}
#u763 {
  position:absolute;
  left:2px;
  top:232px;
  width:289px;
  visibility:hidden;
  word-wrap:break-word;
}
#u764_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:27px;
}
#u764 {
  position:absolute;
  left:137px;
  top:131px;
  width:292px;
  height:27px;
  color:#FFFFFF;
}
#u765 {
  position:absolute;
  left:2px;
  top:6px;
  width:288px;
  word-wrap:break-word;
}
#u766_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u766 {
  position:absolute;
  left:143px;
  top:139px;
  width:13px;
  height:13px;
}
#u767 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u768_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u768 {
  position:absolute;
  left:155px;
  top:137px;
  width:27px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u769 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u770_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:35px;
}
#u770 {
  position:absolute;
  left:161px;
  top:562px;
  width:250px;
  height:35px;
  color:#FFFFFF;
}
#u771 {
  position:absolute;
  left:2px;
  top:10px;
  width:246px;
  word-wrap:break-word;
}
#u772_div {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:126px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u772 {
  position:absolute;
  left:141px;
  top:164px;
  width:286px;
  height:126px;
}
#u773 {
  position:absolute;
  left:2px;
  top:55px;
  width:282px;
  visibility:hidden;
  word-wrap:break-word;
}
#u774 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u775_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u775 {
  position:absolute;
  left:212px;
  top:178px;
  width:64px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u776 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  word-wrap:break-word;
}
#u777_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
}
#u777 {
  position:absolute;
  left:165px;
  top:175px;
  width:41px;
  height:42px;
}
#u778 {
  position:absolute;
  left:2px;
  top:13px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u779_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:center;
}
#u779 {
  position:absolute;
  left:212px;
  top:198px;
  width:71px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u780 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u781_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:center;
}
#u781 {
  position:absolute;
  left:276px;
  top:178px;
  width:53px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u782 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u783_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u783 {
  position:absolute;
  left:212px;
  top:239px;
  width:71px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u784 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u785_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:center;
}
#u785 {
  position:absolute;
  left:212px;
  top:259px;
  width:77px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u786 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u787_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:center;
}
#u787 {
  position:absolute;
  left:276px;
  top:239px;
  width:53px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u788 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u789_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:2px;
}
#u789 {
  position:absolute;
  left:143px;
  top:226px;
  width:284px;
  height:1px;
}
#u790 {
  position:absolute;
  left:2px;
  top:-8px;
  width:280px;
  visibility:hidden;
  word-wrap:break-word;
}
#u791_div {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u791 {
  position:absolute;
  left:142px;
  top:300px;
  width:286px;
  height:43px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u792 {
  position:absolute;
  left:2px;
  top:12px;
  width:282px;
  word-wrap:break-word;
}
#u793_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u793 {
  position:absolute;
  left:405px;
  top:316px;
  width:13px;
  height:13px;
}
#u794 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u795_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u795 {
  position:absolute;
  left:164px;
  top:237px;
  width:42px;
  height:42px;
}
#u796 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
