body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:452px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u889 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:661px;
}
#u890 {
  position:absolute;
  left:112px;
  top:28px;
  width:340px;
  height:661px;
}
#u891 {
  position:absolute;
  left:2px;
  top:322px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:481px;
}
#u892 {
  position:absolute;
  left:136px;
  top:132px;
  width:293px;
  height:481px;
}
#u893 {
  position:absolute;
  left:2px;
  top:232px;
  width:289px;
  visibility:hidden;
  word-wrap:break-word;
}
#u894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:27px;
}
#u894 {
  position:absolute;
  left:137px;
  top:131px;
  width:292px;
  height:27px;
  color:#FFFFFF;
}
#u895 {
  position:absolute;
  left:2px;
  top:6px;
  width:288px;
  word-wrap:break-word;
}
#u896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u896 {
  position:absolute;
  left:143px;
  top:139px;
  width:13px;
  height:13px;
}
#u897 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u898 {
  position:absolute;
  left:155px;
  top:137px;
  width:27px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u899 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:35px;
}
#u900 {
  position:absolute;
  left:159px;
  top:289px;
  width:250px;
  height:35px;
  color:#FFFFFF;
}
#u901 {
  position:absolute;
  left:2px;
  top:10px;
  width:246px;
  word-wrap:break-word;
}
#u902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u902 {
  position:absolute;
  left:145px;
  top:212px;
  width:174px;
  height:41px;
}
#u903 {
  position:absolute;
  left:2px;
  top:12px;
  width:170px;
  visibility:hidden;
  word-wrap:break-word;
}
#u904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
}
#u904 {
  position:absolute;
  left:159px;
  top:223px;
  width:81px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u905 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:34px;
}
#u906 {
  position:absolute;
  left:145px;
  top:168px;
  width:276px;
  height:34px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u907 {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  word-wrap:break-word;
}
#u908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u908 {
  position:absolute;
  left:300px;
  top:229px;
  width:13px;
  height:13px;
}
#u909 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:41px;
  background:inherit;
  background-color:rgba(174, 174, 174, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A1A1A1;
}
#u910 {
  position:absolute;
  left:329px;
  top:212px;
  width:92px;
  height:41px;
  color:#A1A1A1;
}
#u911 {
  position:absolute;
  left:2px;
  top:12px;
  width:88px;
  word-wrap:break-word;
}
