body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:452px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u232 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:661px;
}
#u233 {
  position:absolute;
  left:112px;
  top:28px;
  width:340px;
  height:661px;
  color:#FFFFFF;
}
#u234 {
  position:absolute;
  left:2px;
  top:322px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:479px;
}
#u235 {
  position:absolute;
  left:136px;
  top:132px;
  width:293px;
  height:479px;
  color:#FFFFFF;
}
#u236 {
  position:absolute;
  left:2px;
  top:232px;
  width:289px;
  visibility:hidden;
  word-wrap:break-word;
}
#u237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:27px;
}
#u237 {
  position:absolute;
  left:137px;
  top:131px;
  width:292px;
  height:27px;
  color:#FFFFFF;
}
#u238 {
  position:absolute;
  left:2px;
  top:6px;
  width:288px;
  word-wrap:break-word;
}
#u239_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(80, 158, 245, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#509EF5;
}
#u239 {
  position:absolute;
  left:143px;
  top:526px;
  width:132px;
  height:51px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#509EF5;
}
#u240 {
  position:absolute;
  left:2px;
  top:18px;
  width:128px;
  word-wrap:break-word;
}
#u241_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(80, 158, 245, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#509EF5;
}
#u241 {
  position:absolute;
  left:297px;
  top:526px;
  width:132px;
  height:51px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#509EF5;
}
#u242 {
  position:absolute;
  left:2px;
  top:18px;
  width:128px;
  word-wrap:break-word;
}
#u243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:345px;
}
#u243 {
  position:absolute;
  left:136px;
  top:158px;
  width:293px;
  height:345px;
}
#u244 {
  position:absolute;
  left:2px;
  top:164px;
  width:289px;
  visibility:hidden;
  word-wrap:break-word;
}
