body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:452px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u828 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u829_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:661px;
}
#u829 {
  position:absolute;
  left:112px;
  top:28px;
  width:340px;
  height:661px;
}
#u830 {
  position:absolute;
  left:2px;
  top:322px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:481px;
}
#u831 {
  position:absolute;
  left:136px;
  top:132px;
  width:293px;
  height:481px;
}
#u832 {
  position:absolute;
  left:2px;
  top:232px;
  width:289px;
  visibility:hidden;
  word-wrap:break-word;
}
#u833_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:27px;
}
#u833 {
  position:absolute;
  left:137px;
  top:131px;
  width:292px;
  height:27px;
  color:#FFFFFF;
}
#u834 {
  position:absolute;
  left:2px;
  top:6px;
  width:288px;
  word-wrap:break-word;
}
#u835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u835 {
  position:absolute;
  left:143px;
  top:139px;
  width:13px;
  height:13px;
}
#u836 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u837 {
  position:absolute;
  left:155px;
  top:137px;
  width:27px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u838 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:35px;
}
#u839 {
  position:absolute;
  left:161px;
  top:562px;
  width:250px;
  height:35px;
  color:#FFFFFF;
}
#u840 {
  position:absolute;
  left:2px;
  top:10px;
  width:246px;
  word-wrap:break-word;
}
#u841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:86px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u841 {
  position:absolute;
  left:141px;
  top:183px;
  width:286px;
  height:86px;
}
#u842 {
  position:absolute;
  left:2px;
  top:35px;
  width:282px;
  visibility:hidden;
  word-wrap:break-word;
}
#u843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:2px;
}
#u843 {
  position:absolute;
  left:143px;
  top:226px;
  width:284px;
  height:1px;
}
#u844 {
  position:absolute;
  left:2px;
  top:-8px;
  width:280px;
  visibility:hidden;
  word-wrap:break-word;
}
#u845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
}
#u845 {
  position:absolute;
  left:154px;
  top:196px;
  width:40px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u846 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:19px;
}
#u847 {
  position:absolute;
  left:226px;
  top:196px;
  width:73px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u848 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u849_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u849 {
  position:absolute;
  left:154px;
  top:237px;
  width:27px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u850 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:19px;
}
#u851 {
  position:absolute;
  left:226px;
  top:237px;
  width:82px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u852 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
