body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:449px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u639 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u640_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:661px;
}
#u640 {
  position:absolute;
  left:109px;
  top:28px;
  width:340px;
  height:661px;
}
#u641 {
  position:absolute;
  left:2px;
  top:322px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u642_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:481px;
}
#u642 {
  position:absolute;
  left:133px;
  top:132px;
  width:293px;
  height:481px;
}
#u643 {
  position:absolute;
  left:2px;
  top:232px;
  width:289px;
  visibility:hidden;
  word-wrap:break-word;
}
#u644_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:27px;
}
#u644 {
  position:absolute;
  left:134px;
  top:131px;
  width:292px;
  height:27px;
  color:#FFFFFF;
}
#u645 {
  position:absolute;
  left:2px;
  top:6px;
  width:288px;
  word-wrap:break-word;
}
#u646_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u646 {
  position:absolute;
  left:140px;
  top:139px;
  width:13px;
  height:13px;
}
#u647 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u648_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u648 {
  position:absolute;
  left:152px;
  top:137px;
  width:27px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u649 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u650_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:center;
}
#u650 {
  position:absolute;
  left:142px;
  top:174px;
  width:56px;
  height:15px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:center;
}
#u651 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u652_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:center;
}
#u652 {
  position:absolute;
  left:142px;
  top:249px;
  width:56px;
  height:15px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:center;
}
#u653 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u654_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u654 {
  position:absolute;
  left:222px;
  top:197px;
  width:103px;
  height:19px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u655 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  word-wrap:break-word;
}
#u656_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:28px;
}
#u656 {
  position:absolute;
  left:206px;
  top:243px;
  width:45px;
  height:28px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u657 {
  position:absolute;
  left:2px;
  top:6px;
  width:41px;
  word-wrap:break-word;
}
#u658_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u658 {
  position:absolute;
  left:257px;
  top:243px;
  width:45px;
  height:28px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u659 {
  position:absolute;
  left:2px;
  top:6px;
  width:41px;
  word-wrap:break-word;
}
#u660_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u660 {
  position:absolute;
  left:307px;
  top:243px;
  width:45px;
  height:28px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u661 {
  position:absolute;
  left:2px;
  top:6px;
  width:41px;
  word-wrap:break-word;
}
#u662_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u662 {
  position:absolute;
  left:359px;
  top:243px;
  width:45px;
  height:28px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u663 {
  position:absolute;
  left:2px;
  top:6px;
  width:41px;
  word-wrap:break-word;
}
#u664_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:35px;
}
#u664 {
  position:absolute;
  left:158px;
  top:508px;
  width:250px;
  height:35px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u665 {
  position:absolute;
  left:2px;
  top:10px;
  width:246px;
  word-wrap:break-word;
}
#u666_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u666 {
  position:absolute;
  left:383px;
  top:174px;
  width:17px;
  height:17px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u667 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u668 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u669_div {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u669 {
  position:absolute;
  left:140px;
  top:281px;
  width:286px;
  height:50px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u670 {
  position:absolute;
  left:2px;
  top:17px;
  width:282px;
  visibility:hidden;
  word-wrap:break-word;
}
#u671_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:center;
}
#u671 {
  position:absolute;
  left:200px;
  top:284px;
  width:62px;
  height:22px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:center;
}
#u672 {
  position:absolute;
  left:0px;
  top:4px;
  width:62px;
  word-wrap:break-word;
}
#u673_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u673 {
  position:absolute;
  left:259px;
  top:283px;
  width:79px;
  height:22px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u674 {
  position:absolute;
  left:0px;
  top:2px;
  width:79px;
  word-wrap:break-word;
}
#u675_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u675 {
  position:absolute;
  left:151px;
  top:294px;
  width:33px;
  height:22px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u676 {
  position:absolute;
  left:0px;
  top:3px;
  width:33px;
  word-wrap:break-word;
}
#u677_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:39px;
}
#u677 {
  position:absolute;
  left:191px;
  top:287px;
  width:1px;
  height:38px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u678 {
  position:absolute;
  left:2px;
  top:11px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u679_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#868686;
  text-align:center;
}
#u679 {
  position:absolute;
  left:200px;
  top:306px;
  width:98px;
  height:22px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#868686;
  text-align:center;
}
#u680 {
  position:absolute;
  left:0px;
  top:4px;
  width:98px;
  word-wrap:break-word;
}
#u681_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#868686;
  text-align:center;
}
#u681 {
  position:absolute;
  left:335px;
  top:307px;
  width:90px;
  height:22px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#868686;
  text-align:center;
}
#u682 {
  position:absolute;
  left:0px;
  top:4px;
  width:90px;
  word-wrap:break-word;
}
#u683 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u684 {
  position:absolute;
  left:140px;
  top:341px;
  width:286px;
  height:50px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u685 {
  position:absolute;
  left:2px;
  top:17px;
  width:282px;
  visibility:hidden;
  word-wrap:break-word;
}
#u686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:center;
}
#u686 {
  position:absolute;
  left:200px;
  top:344px;
  width:62px;
  height:22px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:center;
}
#u687 {
  position:absolute;
  left:0px;
  top:4px;
  width:62px;
  word-wrap:break-word;
}
#u688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u688 {
  position:absolute;
  left:259px;
  top:343px;
  width:79px;
  height:22px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u689 {
  position:absolute;
  left:0px;
  top:2px;
  width:79px;
  word-wrap:break-word;
}
#u690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u690 {
  position:absolute;
  left:151px;
  top:354px;
  width:33px;
  height:22px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u691 {
  position:absolute;
  left:0px;
  top:3px;
  width:33px;
  word-wrap:break-word;
}
#u692_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:39px;
}
#u692 {
  position:absolute;
  left:191px;
  top:347px;
  width:1px;
  height:38px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u693 {
  position:absolute;
  left:2px;
  top:11px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#868686;
  text-align:center;
}
#u694 {
  position:absolute;
  left:200px;
  top:366px;
  width:98px;
  height:22px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#868686;
  text-align:center;
}
#u695 {
  position:absolute;
  left:0px;
  top:4px;
  width:98px;
  word-wrap:break-word;
}
#u696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#868686;
  text-align:center;
}
#u696 {
  position:absolute;
  left:335px;
  top:367px;
  width:90px;
  height:22px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#868686;
  text-align:center;
}
#u697 {
  position:absolute;
  left:0px;
  top:4px;
  width:90px;
  word-wrap:break-word;
}
#u698 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u699 {
  position:absolute;
  left:140px;
  top:401px;
  width:286px;
  height:50px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u700 {
  position:absolute;
  left:2px;
  top:17px;
  width:282px;
  visibility:hidden;
  word-wrap:break-word;
}
#u701_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:center;
}
#u701 {
  position:absolute;
  left:200px;
  top:404px;
  width:62px;
  height:22px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:center;
}
#u702 {
  position:absolute;
  left:0px;
  top:4px;
  width:62px;
  word-wrap:break-word;
}
#u703_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u703 {
  position:absolute;
  left:259px;
  top:403px;
  width:79px;
  height:22px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u704 {
  position:absolute;
  left:0px;
  top:2px;
  width:79px;
  word-wrap:break-word;
}
#u705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u705 {
  position:absolute;
  left:151px;
  top:414px;
  width:33px;
  height:22px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u706 {
  position:absolute;
  left:0px;
  top:3px;
  width:33px;
  word-wrap:break-word;
}
#u707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:39px;
}
#u707 {
  position:absolute;
  left:191px;
  top:407px;
  width:1px;
  height:38px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u708 {
  position:absolute;
  left:2px;
  top:11px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u709_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#868686;
  text-align:center;
}
#u709 {
  position:absolute;
  left:200px;
  top:426px;
  width:98px;
  height:22px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#868686;
  text-align:center;
}
#u710 {
  position:absolute;
  left:0px;
  top:4px;
  width:98px;
  word-wrap:break-word;
}
#u711_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#868686;
  text-align:center;
}
#u711 {
  position:absolute;
  left:335px;
  top:427px;
  width:90px;
  height:22px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#868686;
  text-align:center;
}
#u712 {
  position:absolute;
  left:0px;
  top:4px;
  width:90px;
  word-wrap:break-word;
}
#u713 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u714 {
  position:absolute;
  left:139px;
  top:461px;
  width:286px;
  height:50px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u715 {
  position:absolute;
  left:2px;
  top:17px;
  width:282px;
  visibility:hidden;
  word-wrap:break-word;
}
#u716_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:center;
}
#u716 {
  position:absolute;
  left:199px;
  top:464px;
  width:62px;
  height:22px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:center;
}
#u717 {
  position:absolute;
  left:0px;
  top:4px;
  width:62px;
  word-wrap:break-word;
}
#u718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u718 {
  position:absolute;
  left:261px;
  top:463px;
  width:76px;
  height:22px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u719 {
  position:absolute;
  left:0px;
  top:2px;
  width:76px;
  word-wrap:break-word;
}
#u720_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u720 {
  position:absolute;
  left:150px;
  top:474px;
  width:33px;
  height:22px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u721 {
  position:absolute;
  left:0px;
  top:3px;
  width:33px;
  word-wrap:break-word;
}
#u722_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:39px;
}
#u722 {
  position:absolute;
  left:190px;
  top:467px;
  width:1px;
  height:38px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u723 {
  position:absolute;
  left:2px;
  top:11px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u724_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#868686;
  text-align:center;
}
#u724 {
  position:absolute;
  left:199px;
  top:486px;
  width:98px;
  height:22px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#868686;
  text-align:center;
}
#u725 {
  position:absolute;
  left:0px;
  top:4px;
  width:98px;
  word-wrap:break-word;
}
#u726_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#868686;
  text-align:center;
}
#u726 {
  position:absolute;
  left:334px;
  top:487px;
  width:90px;
  height:22px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#868686;
  text-align:center;
}
#u727 {
  position:absolute;
  left:0px;
  top:4px;
  width:90px;
  word-wrap:break-word;
}
#u728_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#666666;
  text-align:center;
}
#u728 {
  position:absolute;
  left:173px;
  top:486px;
  width:78px;
  height:16px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#666666;
  text-align:center;
}
#u729 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u730 {
  position:absolute;
  left:226px;
  top:469px;
  width:140px;
  height:14px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u731 {
  position:absolute;
  left:16px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u730_input {
  position:absolute;
  left:-3px;
  top:-4px;
}
#u733_div {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u733 {
  position:absolute;
  left:148px;
  top:553px;
  width:268px;
  height:14px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u734 {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  word-wrap:break-word;
}
