body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:452px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:661px;
}
#u108 {
  position:absolute;
  left:112px;
  top:28px;
  width:340px;
  height:661px;
  color:#FFFFFF;
}
#u109 {
  position:absolute;
  left:2px;
  top:322px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:479px;
}
#u110 {
  position:absolute;
  left:136px;
  top:132px;
  width:293px;
  height:479px;
  color:#FFFFFF;
}
#u111 {
  position:absolute;
  left:2px;
  top:232px;
  width:289px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:27px;
}
#u112 {
  position:absolute;
  left:137px;
  top:131px;
  width:292px;
  height:27px;
  color:#FFFFFF;
}
#u113 {
  position:absolute;
  left:2px;
  top:6px;
  width:288px;
  word-wrap:break-word;
}
#u114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(80, 158, 245, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#509EF5;
}
#u114 {
  position:absolute;
  left:143px;
  top:526px;
  width:286px;
  height:51px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#509EF5;
}
#u115 {
  position:absolute;
  left:2px;
  top:18px;
  width:282px;
  word-wrap:break-word;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:16px;
}
#u116 {
  position:absolute;
  left:135px;
  top:168px;
  width:298px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#509EF5;
  text-align:center;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  word-wrap:break-word;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:16px;
}
#u118 {
  position:absolute;
  left:151px;
  top:267px;
  width:95px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#509EF5;
  text-align:center;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  word-wrap:break-word;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:16px;
}
#u120 {
  position:absolute;
  left:151px;
  top:314px;
  width:95px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#509EF5;
  text-align:center;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  word-wrap:break-word;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:16px;
}
#u122 {
  position:absolute;
  left:151px;
  top:202px;
  width:95px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#509EF5;
  text-align:center;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  word-wrap:break-word;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:16px;
}
#u124 {
  position:absolute;
  left:241px;
  top:202px;
  width:95px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#509EF5;
  text-align:center;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  word-wrap:break-word;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:16px;
}
#u126 {
  position:absolute;
  left:330px;
  top:202px;
  width:95px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#509EF5;
  text-align:center;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  word-wrap:break-word;
}
