body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:732px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:661px;
}
#u90 {
  position:absolute;
  left:84px;
  top:16px;
  width:340px;
  height:661px;
}
#u91 {
  position:absolute;
  left:2px;
  top:322px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:482px;
}
#u92 {
  position:absolute;
  left:108px;
  top:120px;
  width:293px;
  height:482px;
}
#u93 {
  position:absolute;
  left:2px;
  top:233px;
  width:289px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:27px;
}
#u94 {
  position:absolute;
  left:109px;
  top:119px;
  width:292px;
  height:27px;
  color:#FFFFFF;
}
#u95 {
  position:absolute;
  left:2px;
  top:6px;
  width:288px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u97 {
  position:absolute;
  left:120px;
  top:126px;
  width:13px;
  height:13px;
}
#u98 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u99 {
  position:absolute;
  left:132px;
  top:124px;
  width:27px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u101 {
  position:absolute;
  left:109px;
  top:146px;
  width:292px;
  height:36px;
}
#u102 {
  position:absolute;
  left:2px;
  top:10px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:15px;
}
#u103 {
  position:absolute;
  left:126px;
  top:157px;
  width:63px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
}
#u105 {
  position:absolute;
  left:270px;
  top:157px;
  width:37px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
}
#u107 {
  position:absolute;
  left:341px;
  top:157px;
  width:37px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u109_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:43px;
  height:5px;
}
#u109 {
  position:absolute;
  left:138px;
  top:177px;
  width:40px;
  height:2px;
  color:#FCC57A;
}
#u110 {
  position:absolute;
  left:2px;
  top:-7px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:101px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u112 {
  position:absolute;
  left:110px;
  top:184px;
  width:290px;
  height:101px;
}
#u113 {
  position:absolute;
  left:2px;
  top:42px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:15px;
}
#u114 {
  position:absolute;
  left:129px;
  top:193px;
  width:100px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:15px;
}
#u116 {
  position:absolute;
  left:337px;
  top:236px;
  width:50px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
}
#u118 {
  position:absolute;
  left:129px;
  top:215px;
  width:73px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:14px;
}
#u120 {
  position:absolute;
  left:114px;
  top:237px;
  width:135px;
  height:14px;
  font-size:11px;
  text-align:center;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  word-wrap:break-word;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:2px;
}
#u122 {
  position:absolute;
  left:110px;
  top:254px;
  width:284px;
  height:1px;
}
#u123 {
  position:absolute;
  left:2px;
  top:-8px;
  width:280px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:15px;
}
#u124 {
  position:absolute;
  left:306px;
  top:262px;
  width:82px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
}
#u126 {
  position:absolute;
  left:350px;
  top:192px;
  width:37px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:101px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u129 {
  position:absolute;
  left:111px;
  top:295px;
  width:290px;
  height:101px;
}
#u130 {
  position:absolute;
  left:2px;
  top:42px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:15px;
}
#u131 {
  position:absolute;
  left:130px;
  top:304px;
  width:100px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:15px;
}
#u133 {
  position:absolute;
  left:338px;
  top:347px;
  width:50px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:15px;
}
#u135 {
  position:absolute;
  left:130px;
  top:326px;
  width:72px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u136 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:14px;
}
#u137 {
  position:absolute;
  left:125px;
  top:349px;
  width:115px;
  height:14px;
  font-size:11px;
  text-align:center;
}
#u138 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:2px;
}
#u139 {
  position:absolute;
  left:111px;
  top:365px;
  width:284px;
  height:1px;
}
#u140 {
  position:absolute;
  left:2px;
  top:-8px;
  width:280px;
  visibility:hidden;
  word-wrap:break-word;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:15px;
}
#u141 {
  position:absolute;
  left:308px;
  top:373px;
  width:81px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u142 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
}
#u143 {
  position:absolute;
  left:354px;
  top:303px;
  width:37px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u144 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u145 {
  position:absolute;
  left:387px;
  top:200px;
  width:0px;
  height:0px;
}
#u145_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:120px;
  height:8px;
}
#u146 {
  position:absolute;
  left:8px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:58px;
}
#u147 {
  position:absolute;
  left:517px;
  top:188px;
  width:109px;
  height:58px;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u148 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u149 {
  position:absolute;
  left:377px;
  top:156px;
  width:6px;
  height:6px;
  color:#FF0000;
}
#u150 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u151 {
  position:absolute;
  left:380px;
  top:156px;
  width:0px;
  height:0px;
}
#u151_seg0 {
  position:absolute;
  left:-4px;
  top:-4px;
  width:8px;
  height:4px;
}
#u151_seg1 {
  position:absolute;
  left:-4px;
  top:-4px;
  width:126px;
  height:8px;
}
#u151_seg2 {
  position:absolute;
  left:114px;
  top:-2px;
  width:8px;
  height:6px;
}
#u152 {
  position:absolute;
  left:10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:35px;
}
#u153 {
  position:absolute;
  left:507px;
  top:135px;
  width:109px;
  height:35px;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u154 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u155 {
  position:absolute;
  left:183px;
  top:363px;
  width:0px;
  height:0px;
}
#u155_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:37px;
}
#u155_seg1 {
  position:absolute;
  left:-4px;
  top:29px;
  width:394px;
  height:8px;
}
#u156 {
  position:absolute;
  left:128px;
  top:25px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:59px;
}
#u157 {
  position:absolute;
  left:560px;
  top:369px;
  width:172px;
  height:59px;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u158 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  word-wrap:break-word;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:15px;
}
#u159 {
  position:absolute;
  left:193px;
  top:157px;
  width:63px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u160 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u161 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:110px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u162 {
  position:absolute;
  left:110px;
  top:408px;
  width:290px;
  height:110px;
}
#u163 {
  position:absolute;
  left:2px;
  top:47px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:15px;
}
#u164 {
  position:absolute;
  left:129px;
  top:417px;
  width:100px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u165 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:15px;
}
#u166 {
  position:absolute;
  left:337px;
  top:460px;
  width:50px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u167 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:15px;
}
#u168 {
  position:absolute;
  left:129px;
  top:439px;
  width:72px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u169 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:14px;
}
#u170 {
  position:absolute;
  left:124px;
  top:462px;
  width:115px;
  height:14px;
  font-size:11px;
  text-align:center;
}
#u171 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:2px;
}
#u172 {
  position:absolute;
  left:110px;
  top:478px;
  width:284px;
  height:1px;
}
#u173 {
  position:absolute;
  left:2px;
  top:-8px;
  width:280px;
  visibility:hidden;
  word-wrap:break-word;
}
#u174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
}
#u174 {
  position:absolute;
  left:353px;
  top:416px;
  width:37px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u175 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u176_div {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:37px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u176 {
  position:absolute;
  left:108px;
  top:559px;
  width:286px;
  height:37px;
  color:#FFFFFF;
}
#u177 {
  position:absolute;
  left:2px;
  top:10px;
  width:282px;
  word-wrap:break-word;
}
#u178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:15px;
}
#u178 {
  position:absolute;
  left:208px;
  top:489px;
  width:108px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u179 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u180_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:26px;
  background:inherit;
  background-color:rgba(12, 192, 120, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u180 {
  position:absolute;
  left:326px;
  top:483px;
  width:68px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u181 {
  position:absolute;
  left:2px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
#u182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u182 {
  position:absolute;
  left:365px;
  top:125px;
  width:27px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u183 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u184 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u185 {
  position:absolute;
  left:120px;
  top:265px;
  width:17px;
  height:16px;
}
#u186 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u185_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u187 {
  position:absolute;
  left:120px;
  top:373px;
  width:17px;
  height:16px;
}
#u188 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u187_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u189 {
  position:absolute;
  left:120px;
  top:489px;
  width:17px;
  height:16px;
}
#u190 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u189_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u191 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:83px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u192 {
  position:absolute;
  left:182px;
  top:313px;
  width:148px;
  height:83px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u193 {
  position:absolute;
  left:2px;
  top:34px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:17px;
}
#u194 {
  position:absolute;
  left:197px;
  top:329px;
  width:133px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u195 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:2px;
}
#u196 {
  position:absolute;
  left:182px;
  top:356px;
  width:148px;
  height:1px;
  color:#FCC57A;
}
#u197 {
  position:absolute;
  left:2px;
  top:-8px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
}
#u198 {
  position:absolute;
  left:283px;
  top:369px;
  width:25px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u199 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
}
#u200 {
  position:absolute;
  left:215px;
  top:368px;
  width:25px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u201 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:41px;
}
#u202 {
  position:absolute;
  left:257px;
  top:356px;
  width:1px;
  height:40px;
}
#u203 {
  position:absolute;
  left:2px;
  top:12px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
