body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:504px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u229 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:661px;
}
#u230 {
  position:absolute;
  left:19px;
  top:2px;
  width:340px;
  height:661px;
  color:#FFFFFF;
}
#u231 {
  position:absolute;
  left:2px;
  top:322px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:476px;
}
#u232 {
  position:absolute;
  left:43px;
  top:106px;
  width:293px;
  height:476px;
  color:#FFFFFF;
}
#u233 {
  position:absolute;
  left:2px;
  top:230px;
  width:289px;
  visibility:hidden;
  word-wrap:break-word;
}
#u234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:27px;
}
#u234 {
  position:absolute;
  left:44px;
  top:105px;
  width:292px;
  height:27px;
  color:#FFFFFF;
}
#u235 {
  position:absolute;
  left:2px;
  top:6px;
  width:288px;
  word-wrap:break-word;
}
#u236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:127px;
}
#u236 {
  position:absolute;
  left:44px;
  top:151px;
  width:292px;
  height:127px;
}
#u237 {
  position:absolute;
  left:2px;
  top:56px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u238 {
  position:absolute;
  left:57px;
  top:161px;
  width:49px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u239 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u240 {
  position:absolute;
  left:57px;
  top:191px;
  width:49px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u241 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
}
#u242 {
  position:absolute;
  left:57px;
  top:221px;
  width:49px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u243 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u244 {
  position:absolute;
  left:57px;
  top:251px;
  width:49px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u245 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:2px;
}
#u246 {
  position:absolute;
  left:55px;
  top:182px;
  width:274px;
  height:1px;
}
#u247 {
  position:absolute;
  left:2px;
  top:-8px;
  width:270px;
  visibility:hidden;
  word-wrap:break-word;
}
#u248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:2px;
}
#u248 {
  position:absolute;
  left:55px;
  top:213px;
  width:274px;
  height:1px;
}
#u249 {
  position:absolute;
  left:2px;
  top:-8px;
  width:270px;
  visibility:hidden;
  word-wrap:break-word;
}
#u250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:2px;
}
#u250 {
  position:absolute;
  left:55px;
  top:244px;
  width:274px;
  height:1px;
}
#u251 {
  position:absolute;
  left:2px;
  top:-8px;
  width:270px;
  visibility:hidden;
  word-wrap:break-word;
}
#u252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:2px;
}
#u252 {
  position:absolute;
  left:55px;
  top:277px;
  width:274px;
  height:1px;
}
#u253 {
  position:absolute;
  left:2px;
  top:-8px;
  width:270px;
  visibility:hidden;
  word-wrap:break-word;
}
#u254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:2px;
}
#u254 {
  position:absolute;
  left:55px;
  top:152px;
  width:274px;
  height:1px;
}
#u255 {
  position:absolute;
  left:2px;
  top:-8px;
  width:270px;
  visibility:hidden;
  word-wrap:break-word;
}
#u256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
}
#u256 {
  position:absolute;
  left:159px;
  top:160px;
  width:25px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u257 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:17px;
}
#u258 {
  position:absolute;
  left:160px;
  top:188px;
  width:91px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u259 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u260 {
  position:absolute;
  left:159px;
  top:221px;
  width:105px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u261 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
}
#u262 {
  position:absolute;
  left:159px;
  top:251px;
  width:123px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u263 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:40px;
}
#u264 {
  position:absolute;
  left:60px;
  top:288px;
  width:259px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u265 {
  position:absolute;
  left:2px;
  top:12px;
  width:255px;
  word-wrap:break-word;
}
#u266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u266 {
  position:absolute;
  left:52px;
  top:114px;
  width:13px;
  height:13px;
}
#u267 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:20px;
}
#u268 {
  position:absolute;
  left:369px;
  top:107px;
  width:135px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u269 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  word-wrap:break-word;
}
