body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:424px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u908 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:661px;
}
#u909 {
  position:absolute;
  left:84px;
  top:16px;
  width:340px;
  height:661px;
}
#u910 {
  position:absolute;
  left:2px;
  top:322px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:476px;
}
#u911 {
  position:absolute;
  left:108px;
  top:120px;
  width:293px;
  height:476px;
}
#u912 {
  position:absolute;
  left:2px;
  top:230px;
  width:289px;
  visibility:hidden;
  word-wrap:break-word;
}
#u913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:27px;
}
#u913 {
  position:absolute;
  left:109px;
  top:119px;
  width:292px;
  height:27px;
  color:#FFFFFF;
}
#u914 {
  position:absolute;
  left:2px;
  top:6px;
  width:288px;
  word-wrap:break-word;
}
#u915 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u916 {
  position:absolute;
  left:120px;
  top:126px;
  width:13px;
  height:13px;
}
#u917 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u918 {
  position:absolute;
  left:132px;
  top:124px;
  width:27px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u919 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u920 {
  position:absolute;
  left:227px;
  top:442px;
  width:52px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u921 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u922 {
  position:absolute;
  left:227px;
  top:471px;
  width:52px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u923 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u924 {
  position:absolute;
  left:129px;
  top:176px;
  width:48px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u925 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u926 {
  position:absolute;
  left:129px;
  top:238px;
  width:62px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u927 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u928 {
  position:absolute;
  left:129px;
  top:207px;
  width:62px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u929 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u930 {
  position:absolute;
  left:129px;
  top:269px;
  width:38px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u931 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u932 {
  position:absolute;
  left:129px;
  top:300px;
  width:53px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u933 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:2px;
}
#u934 {
  position:absolute;
  left:182px;
  top:228px;
  width:203px;
  height:1px;
}
#u935 {
  position:absolute;
  left:2px;
  top:-8px;
  width:199px;
  visibility:hidden;
  word-wrap:break-word;
}
#u936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:2px;
}
#u936 {
  position:absolute;
  left:182px;
  top:260px;
  width:203px;
  height:1px;
}
#u937 {
  position:absolute;
  left:2px;
  top:-8px;
  width:199px;
  visibility:hidden;
  word-wrap:break-word;
}
#u938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:2px;
}
#u938 {
  position:absolute;
  left:182px;
  top:196px;
  width:203px;
  height:1px;
}
#u939 {
  position:absolute;
  left:2px;
  top:-8px;
  width:199px;
  visibility:hidden;
  word-wrap:break-word;
}
#u940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:2px;
}
#u940 {
  position:absolute;
  left:182px;
  top:292px;
  width:203px;
  height:1px;
}
#u941 {
  position:absolute;
  left:2px;
  top:-8px;
  width:199px;
  visibility:hidden;
  word-wrap:break-word;
}
#u942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:2px;
}
#u942 {
  position:absolute;
  left:182px;
  top:324px;
  width:203px;
  height:1px;
}
#u943 {
  position:absolute;
  left:2px;
  top:-8px;
  width:199px;
  visibility:hidden;
  word-wrap:break-word;
}
#u944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u944 {
  position:absolute;
  left:153px;
  top:387px;
  width:211px;
  height:46px;
}
#u945 {
  position:absolute;
  left:2px;
  top:15px;
  width:207px;
  word-wrap:break-word;
}
