body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:753px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u834 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:661px;
}
#u835 {
  position:absolute;
  left:84px;
  top:16px;
  width:340px;
  height:661px;
}
#u836 {
  position:absolute;
  left:2px;
  top:322px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:476px;
}
#u837 {
  position:absolute;
  left:108px;
  top:120px;
  width:293px;
  height:476px;
}
#u838 {
  position:absolute;
  left:2px;
  top:230px;
  width:289px;
  visibility:hidden;
  word-wrap:break-word;
}
#u839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:27px;
}
#u839 {
  position:absolute;
  left:109px;
  top:119px;
  width:292px;
  height:27px;
  color:#FFFFFF;
}
#u840 {
  position:absolute;
  left:2px;
  top:6px;
  width:288px;
  word-wrap:break-word;
}
#u841 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u842 {
  position:absolute;
  left:120px;
  top:126px;
  width:13px;
  height:13px;
}
#u843 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u844 {
  position:absolute;
  left:132px;
  top:124px;
  width:27px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u845 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u846 {
  position:absolute;
  left:136px;
  top:208px;
  width:52px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u847 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u848 {
  position:absolute;
  left:136px;
  top:245px;
  width:52px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u849 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u850 {
  position:absolute;
  left:146px;
  top:340px;
  width:207px;
  height:41px;
}
#u851 {
  position:absolute;
  left:2px;
  top:12px;
  width:203px;
  word-wrap:break-word;
}
#u852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u852 {
  position:absolute;
  left:223px;
  top:398px;
  width:52px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u853 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u854 {
  position:absolute;
  left:222px;
  top:431px;
  width:52px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u855 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:2px;
}
#u856 {
  position:absolute;
  left:188px;
  top:223px;
  width:165px;
  height:1px;
}
#u857 {
  position:absolute;
  left:2px;
  top:-8px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:2px;
}
#u858 {
  position:absolute;
  left:188px;
  top:259px;
  width:165px;
  height:1px;
}
#u859 {
  position:absolute;
  left:2px;
  top:-8px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:290px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
}
#u860 {
  position:absolute;
  left:461px;
  top:207px;
  width:292px;
  height:290px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
}
#u861 {
  position:absolute;
  left:0px;
  top:26px;
  width:292px;
  word-wrap:break-word;
}
