body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:452px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u287 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u288_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:661px;
}
#u288 {
  position:absolute;
  left:112px;
  top:28px;
  width:340px;
  height:661px;
  color:#FFFFFF;
}
#u289 {
  position:absolute;
  left:2px;
  top:322px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u290_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:479px;
}
#u290 {
  position:absolute;
  left:136px;
  top:132px;
  width:293px;
  height:479px;
  color:#FFFFFF;
}
#u291 {
  position:absolute;
  left:2px;
  top:232px;
  width:289px;
  visibility:hidden;
  word-wrap:break-word;
}
#u292_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:27px;
}
#u292 {
  position:absolute;
  left:137px;
  top:131px;
  width:292px;
  height:27px;
  color:#FFFFFF;
}
#u293 {
  position:absolute;
  left:2px;
  top:6px;
  width:288px;
  word-wrap:break-word;
}
#u294_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u294 {
  position:absolute;
  left:149px;
  top:168px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#A1A1A1;
  text-align:center;
}
#u295 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u296_img {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:281px;
}
#u296 {
  position:absolute;
  left:178px;
  top:201px;
  width:216px;
  height:280px;
  color:#C9C9C9;
}
#u297 {
  position:absolute;
  left:2px;
  top:132px;
  width:212px;
  word-wrap:break-word;
}
#u299 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u300_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:54px;
}
#u300 {
  position:absolute;
  left:146px;
  top:549px;
  width:280px;
  height:54px;
}
#u301 {
  position:absolute;
  left:2px;
  top:19px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u302 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u303_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u303 {
  position:absolute;
  left:364px;
  top:585px;
  width:27px;
  height:16px;
  color:#AEAEAE;
  text-align:center;
}
#u304 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u305_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u305 {
  position:absolute;
  left:363px;
  top:556px;
  width:25px;
  height:25px;
}
#u306 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u307 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u308_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u308 {
  position:absolute;
  left:184px;
  top:585px;
  width:27px;
  height:16px;
  color:#AEAEAE;
  text-align:center;
}
#u309 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u310_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u310 {
  position:absolute;
  left:184px;
  top:556px;
  width:25px;
  height:25px;
}
#u311 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u312 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u313_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u313 {
  position:absolute;
  left:275px;
  top:586px;
  width:27px;
  height:16px;
  color:#AEAEAE;
  text-align:center;
}
#u314 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u315_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u315 {
  position:absolute;
  left:274px;
  top:555px;
  width:28px;
  height:28px;
}
#u316 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
