body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:452px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u243 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:661px;
}
#u244 {
  position:absolute;
  left:112px;
  top:28px;
  width:340px;
  height:661px;
  color:#FFFFFF;
}
#u245 {
  position:absolute;
  left:2px;
  top:322px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:479px;
}
#u246 {
  position:absolute;
  left:136px;
  top:132px;
  width:293px;
  height:479px;
  color:#FFFFFF;
}
#u247 {
  position:absolute;
  left:2px;
  top:232px;
  width:289px;
  visibility:hidden;
  word-wrap:break-word;
}
#u248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:27px;
}
#u248 {
  position:absolute;
  left:137px;
  top:131px;
  width:292px;
  height:27px;
  color:#FFFFFF;
}
#u249 {
  position:absolute;
  left:2px;
  top:6px;
  width:288px;
  word-wrap:break-word;
}
#u250 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(80, 158, 245, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#509EF5;
}
#u251 {
  position:absolute;
  left:178px;
  top:456px;
  width:213px;
  height:51px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#509EF5;
}
#u252 {
  position:absolute;
  left:2px;
  top:18px;
  width:209px;
  word-wrap:break-word;
}
#u253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:16px;
}
#u253 {
  position:absolute;
  left:149px;
  top:168px;
  width:121px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#A1A1A1;
}
#u254 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  word-wrap:break-word;
}
#u255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u255 {
  position:absolute;
  left:159px;
  top:258px;
  width:247px;
  height:170px;
}
#u256 {
  position:absolute;
  left:2px;
  top:77px;
  width:243px;
  visibility:hidden;
  word-wrap:break-word;
}
#u257_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:31px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#A1A1A1;
}
#u257 {
  position:absolute;
  left:151px;
  top:200px;
  width:97px;
  height:30px;
  font-size:10px;
  color:#A1A1A1;
}
#u258 {
  position:absolute;
  left:2px;
  top:8px;
  width:93px;
  word-wrap:break-word;
}
#u259_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:31px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#A1A1A1;
}
#u259 {
  position:absolute;
  left:258px;
  top:200px;
  width:49px;
  height:30px;
  font-size:10px;
  color:#A1A1A1;
}
#u260 {
  position:absolute;
  left:2px;
  top:8px;
  width:45px;
  word-wrap:break-word;
}
#u261_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(80, 158, 245, 1);
  border-radius:31px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#509EF5;
}
#u261 {
  position:absolute;
  left:317px;
  top:200px;
  width:88px;
  height:30px;
  font-size:10px;
  color:#509EF5;
}
#u262 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u263 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u264 {
  position:absolute;
  left:250px;
  top:287px;
  width:64px;
  height:64px;
}
#u265 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:32px;
}
#u266 {
  position:absolute;
  left:234px;
  top:361px;
  width:97px;
  height:32px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#A1A1A1;
  text-align:center;
}
#u267 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  word-wrap:break-word;
}
#u269 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:54px;
}
#u270 {
  position:absolute;
  left:149px;
  top:557px;
  width:280px;
  height:54px;
}
#u271 {
  position:absolute;
  left:2px;
  top:19px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u272 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u273 {
  position:absolute;
  left:367px;
  top:593px;
  width:27px;
  height:16px;
  color:#AEAEAE;
  text-align:center;
}
#u274 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u275 {
  position:absolute;
  left:366px;
  top:564px;
  width:25px;
  height:25px;
}
#u276 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u277 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u278 {
  position:absolute;
  left:187px;
  top:593px;
  width:27px;
  height:16px;
  color:#AEAEAE;
  text-align:center;
}
#u279 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u280 {
  position:absolute;
  left:187px;
  top:564px;
  width:25px;
  height:25px;
}
#u281 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u282 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u283 {
  position:absolute;
  left:278px;
  top:594px;
  width:27px;
  height:16px;
  color:#AEAEAE;
  text-align:center;
}
#u284 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u285 {
  position:absolute;
  left:277px;
  top:563px;
  width:28px;
  height:28px;
}
#u286 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
